# Tuples

Tuples are ordered immutable sequence of elements.

In [ ]:
# Create a tuple
my_tuple = (1,2,3)
another_tuple = tuple(['a','b','c'])
new_tuple = 'x','y','z'

Tuples have methods and operations similar to other sequences

In [ ]:
tup = ('apple', 'orange', 'grapes', 'banana')

In [ ]:
# len
len(tup) # number of elements in tuple

4

In [ ]:
# min, max
print(min(tup)) # smallest element
print(max(tup)) # larget element

apple
orange

In [ ]:
# in
'apple' in tup # return true if element is found in tuple else return false

True

In [ ]:
# index
tup[0]

'apple'

In [ ]:
# slicing
tup[1:3]

('orange', 'grapes')

Since tuples are immutable objects we can't change, add or remove any element from it

In [ ]:
tup[0] = 'mango'

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = ('mango', 'orange')

We can assign the vlaues of a tuple to multiple variables as below

In [ ]:
a ,b = (1, 2)
print(a)
print(b)

1
2

Tuple can also we used to swap values between two variables

In [ ]:
(x, y) = (b,a)
print(x)
print(y)

1
2

# Excercise
1. Create a tuple *even_num* from the list [2, 3, 5, 7, 11, 3, 2, 12].
2. Reverse the tuple even_num and save it to *new_tuple*.
3. Find the index of the number 11 in the *new_tuple*.
4. Sort the tuple *new_tuple*.
5. From the *even_tuple*, extract the 2 largest values.
6. Count the number of occurrences of each of the following elements: 1, 2, 3
7. Assign the values of the tuple t = (1 , 2, 3)  to new variables x, y, z.
8. From variable in above question assign the values of x to y, y to z and z to x.
9. Create a tuple *list_tuple* of two lists [1,2] and [3,4].
10. Modify the first element of *list_tuple* to be [0,1,2].

# Solution

In [ ]:
# Excercise 1
even_num = tuple([2, 3, 5, 7, 11, 3, 2, 12])

In [ ]:
# Excercise 2
new_tuple = even_num[::-1]
print(new_tuple)

(12, 2, 3, 11, 7, 5, 3, 2)

In [ ]:
# Excercise 3
new_tuple.index(11)

3

In [ ]:
# Excercise 4
sorted(new_tuple)

[2, 2, 3, 3, 5, 7, 11, 12]

In [ ]:
# Excercise 5
sort_tuple = sorted(new_tuple)
sort_tuple[-2::]

[11, 12]

In [ ]:
# Excercise 6
print(new_tuple.count(1))
print(new_tuple.count(2))
print(new_tuple.count(3))

0
2
2

In [13]:
# Excercise 7
t = (1, 2, 3)
x, y, z = t
print(x)
print(y)
print(z)

1
2
3

In [14]:
# Excercise 8
x, y, z = z,x,y
print(x)
print(y)
print(z)

3
1
2

In [1]:
# Excercise 9
list_tuple = ([1,2], [3,4])
list_tuple

([1, 2], [3, 4])

In [8]:
# Excercise 10
list_tuple[0][0:2] = [0,1,2]
list_tuple

([0, 1, 2], [3, 4])