
# Control Flow

### Comparision Operators

In [ ]:
1 > 2

False

In [ ]:
1 < 2

True

In [ ]:
2 <= 2

True

In [ ]:
1 >= 2

False

In [ ]:
1 != 0

True

In [ ]:
2 == '2'

False

In [ ]:
1 == 1

True

Logical Operators

In [ ]:
1 < 2 and 2 < 3

True

In [ ]:
1 < 2 and 3 < 2

False

In [ ]:
1 < 2 or 2 > 3

True

In [ ]:
1 > 2 or 5 < 4

False

In [ ]:
not (1 == 1)

False

In [ ]:
not True

False

### if-else
We can use if-else operator to execute a set of code if a given condition is true

In [ ]:
if 10 < 100:
    print('I am here')

I am here

In [ ]:
if 10 > 100:
    print('I am here')
else:
    print('I missed it')

I missed it

In [ ]:
x = -1
if x < 0:
    print('Negative')
elif x > 0:
    print('Positive')
else:
    print('Zero')

Negative

In [ ]:
name = 'Maths'
x = 90
if name == 'Scince':
    if x > 80:
        print('I like science')
    else :
        print('I don\'t like science')
else:
    if x > 70:
        print('I like maths')
    else:
        print('I don\'t like to study')

I like maths

### For Loops

For loops are used to run a code block mulitple times.
We can use for-loops with lists, strings or any range.

In [ ]:
my_list = [1, 2, 3, 4]
for n in my_list:
    print(n)

1
2
3
4

In [ ]:
for s in 'I am a string':
    if s != ' ':
        print(s)

I
a
m
a
s
t
r
i
n
g

One commonly used function with for-loop is *range()* function. range() has the following variations:
* range(stop)
* range(start,stop)
* range(start,stop,step_size)

In [ ]:
sum = 0
for i in range(10):
    sum += i
print(sum)

45

In [ ]:
sum = 0
for i in range(5,10):
    sum += i
print(sum)

35

In [ ]:
sum = 0
for i in range(5,10,2):
    sum += i
print(sum)

21

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z':3}
for k in my_dict.keys():
    print('{} is {}'.format(k, my_dict[k]))

x is 1
y is 2
z is 3

### Nested Loops
A nested loop is a loop inside of another loop.
The inner loop will run at each interation of the outer loop.

In [ ]:
# print all elements of a matrix

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element, end=' ')
    print()  # move to the next line after each row

1 2 3
4 5 6
7 8 9

In [ ]:
# generate a multiplication table
multiplication_table = []

for i in range(1, 11):
    row = []
    for j in range(1, 11):
        product = i * j
        row.append(product)
    multiplication_table.append(row)

# printing the generated table
for row in multiplication_table:
    print(row)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# pattern printing
for i in range(5):
    for j in range(i + 1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

### While loop

While loop runs a code block as long as a given condition is met.

In [ ]:
# print all odd numbers between 1-10
i = 1
while i < 10:
    print(i)
    i += 2

1
3
5
7
9

In [ ]:
# print all elements of a list in reverse order
nums = [10, 20 ,30 ,40]
while len(nums) > 0:
    print(nums.pop())

40
30
20
10

In [ ]:
# create a list with the squares of numbers from 1 to 10
power_list = []
i = 1
while i <= 10:
  power_list.append(i**2)
  i += 1

print(power_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# count number of 0 in a list
c = 0
i = 0
my_list = [1, 2, 3, 0, 4, 0]
while i < len(my_list):
    if my_list[i] == 0:
      c += 1
    i += 1

print(c)

2

# Excercise
1. Write a code to check if a number is odd or even.
2. Create a list with the numbers 1-10, using for loop.
3. Print only even numbers from above list.
4. Print only numbers at odd index from the list from Q2.
5. Reverse the list from Q2, using for loop.
6. Find the marks for grades in list [67, 83, 45, 78, 32] based on the below conditions:
> Below 45 - D <br>
> 45 to 60 - C <br>
> 60 to 75 - B <br>
> Above 75 - A <br>
7. Find the factorial of a given number (Factorial of n is 1x2x3....xn ).
8. Check if a number is a prime number.
9. Print individual digits of a number.
10. Print the following:
> 1 <br>
> 1 2 <br>
> 1 2 3 <br>
> 1 2 3 4 <br>
> 1 2 3 4 5 <br>
11. Print all combinations of fruits and colors from the following lists, using nested loops.
>fruits = ["apple", "banana", "cherry"] <br>
>colors = ["red", "yellow", "purple"]

# Solution

In [ ]:
# Excercise 1
x = 10

if x % 2 == 0:
    print('{} is even'.format(x))
else:
    print('{} is odd'.format(x))

10 is even

In [1]:
# Excercise 2
my_nums = []
for i in range(1,11):
    my_nums.append(i)
print(my_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Excercise 3
for n in my_nums:
    if n % 2 == 0:
        print(n)

2
4
6
8
10

In [3]:
# Excercise 4
l = len(my_nums)
for n in range(1,l,2):
        print(my_nums[n])

2
4
6
8
10

In [ ]:
# Excercise 5
rev_list = []
x = len(my_nums) - 1
for n in range(x,-1,-1):
    rev_list.append(my_nums[n])
rev_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Excercise 6
my_list = [67, 83, 45, 78, 32]
for m in my_list:
    if m < 45:
        print('{} : D'.format(m))
    elif 45 <= m and m < 60:
        print('{} : C'.format(m))
    elif 60 <= m and m < 75:
        print('{} : B'.format(m))
    else:
        print('{} : A'.format(m))

67 : B
83 : A
45 : C
78 : A
32 : D

In [ ]:
# Excercise 7
n = 10
f = 1
for n in range(1,n+1):
    f = f * n
print(f)

3628800

In [ ]:
# Excercise 8
n = 7
flag = 1
for i in range(2,n):
    if n % i == 0:
        flag = 0
if flag == 1:
    print('Prime')
else:
    print('Not Prime')
print(f)

Prime
362880

In [ ]:
# Excercise 9
n =2357
while n > 0:
    print(n%10)
    n = n//10

7
5
3
2

In [ ]:
# Excercise 10

for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Excercise 11

fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "purple"]

for fruit in fruits:
    for color in colors:
        print(fruit, color)

apple red
apple yellow
apple purple
banana red
banana yellow
banana purple
cherry red
cherry yellow
cherry purple